        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Banner Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="hero-block" class="frontpage-banner-section frontpage-banner-style-three">
<!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle3.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/helf-circel1.png" alt="Element">
                </div>
            </div> -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-10">
                        <div class="frontpage-banner-content">
                            <h2 class="hero-title">Land <span>jobs</span> with a personal website.
                            </h2><!-- /.hero-title -->
                            <div class="hero-desc">
                                <p>Be proud of your accomplishments.<br>Showcase them to the world.</p>
                            </div><!-- /.hero-desc -->
                            <div class="form-group-btn">
                                <a class="btn btn-primary" href="#call-to-action">Get Started</a>
                                <a class="btn btn-primary" href="inaugural_template.html" style="background:rgb(137,86,233);">Check Out The Inaugural Template</a>
                            </div><!-- /.form-group-btn -->
                        </div><!-- /.hero-content-area -->
                    </div>
                    <div class="col-lg-5">
                        <div class="hero-mockup-area">
                            <div class="hero-mockup-thumb">
                                <img src="assets/images/others/hero1.png" alt="Thumb">
                            </div><!-- /.hero-mockup-thumb -->
<!--                             <div class="element-group">
                                <div class="element one">
                                    <img src="assets/images/element/element1.png" alt="Element">
                                </div>
                                <div class="element two">
                                    <img src="assets/images/element/rectangle4.png" alt="Element">
                                </div>
                                <div class="element three">
                                    <img src="assets/images/element/circle4.png" alt="Element">
                                </div>
                            </div> -->
                        </div>
                    </div><!-- /.col-lg-5 -->
                </div>
            </div>
        </div>
        <!--~./ end frontpage banner Section ~-->