
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Fanfact Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="fanfact-block pd-b-130 pd-t-130">
            <div class="container">
                                    <h1 style="text-align: center;padding-bottom:30px;">Young professionals are saying that personal websites are...</h1>
                <div class="row fanfact-promo-numbers justify-content-center">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="promo-number style-two">
                            <div class="promo-number-inner">
                                <div class="icon">
                                    <img src="assets/images/icon/fanfact/two/1.png" alt="Icon" />
                                </div>
                                <!-- /.icon -->
                                <div class="info">
                                    <div class="odometer-wrap">
                                        <div class="odometer" data-odometer-final="96">0</div>
                                        %
                                    </div>
                                    <!-- /.odometer-wrap -->
                                    <h4 class="promo-title">A key factor in building a competitive edge in the job market</h4>
                                    <!-- /.promo-title -->
                                </div>
                                <!-- /.info -->
                            </div>
                        </div>
                        <!-- /.promo-number -->
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="promo-number style-two">
                            <div class="promo-number-inner">
                                <div class="icon">
                                    <img src="assets/images/icon/fanfact/two/2.png" alt="Icon" />
                                </div>
                                <!-- /.icon -->
                                <div class="info">
                                    <div class="odometer-wrap">
                                        <div class="odometer" data-odometer-final="84">0</div>
                                        %
                                    </div>
                                    <!-- /.odometer-wrap -->
                                    <h4 class="promo-title">The best way online to show who you are professionally</h4>
                                    <!-- /.promo-title -->
                                </div>
                                <!-- /.info -->
                            </div>
                        </div>
                        <!-- /.promo-number -->
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="promo-number style-two">
                            <div class="promo-number-inner">
                                <div class="icon">
                                    <img src="assets/images/icon/fanfact/two/3.png" alt="Icon" />
                                </div>
                                <!-- /.icon -->
                                <div class="info">
                                    <div class="odometer-wrap">
                                        <div class="odometer" data-odometer-final="65">0</div>
                                        %
                                    </div>
                                    <!-- /.odometer-wrap -->
                                    <h4 class="promo-title">100% critical in securing their current position</h4>
                                    <!-- /.promo-title -->
                                </div>
                                <!-- /.info -->
                            </div>
                        </div>
                        <!-- /.promo-number -->
                    </div>
                    <!-- /.col-lg-3 -->
                </div>
                <!-- /.fanfact-promo-numbers -->
            </div>
        </div>
        <!--~~./ end fanfact block ~~-->