
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Footer
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <footer class="site-footer pd-t-100 footer-default-bg" style="margin-top:60px;">
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Footer Widget Area
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="footer-widget-area">
                <div class="container">
                    <div class="row">
                        <!--~~~~~ Start Widget About us ~~~~~-->
                        <div class="col-lg-3">
                            <aside class="widget widget_about">
                                <h2 class="widget-title">About Us</h2>
                                <div class="widget-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        In at purus varius odio tempus cursus. vitae, commodo dui.
                                    </p>
                                    <a class="btn btn-primary btn-gradient-45" href="#">Learn More</a>
                                </div>
                            </aside>
                        </div>
                        <!--~./ end about us widget ~-->

                        <!--~~~~~ Start Widget Links ~~~~~-->
                        <div class="col-lg-2">
                            <aside class="widget widget_links">
                                <h2 class="widget-title">Quick Links</h2>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                        <li><a href="#">Blogs</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <!--~./ end links widget ~-->

                        <!--~~~~~ Start Post List Widget ~~~~~-->
                        <div class="col-lg-3">
                            <aside class="widget widget-post-list">
                                <h4 class="widget-title">Recent Post</h4>
                                <!-- /.widget-title -->

                                <div class="widget-content">
                                    <article class="post">
                                        <div class="thumb-wrap">
                                            <a href="single-post.html">
                                                <img src="assets/images/widget/post/recent/1.png" alt="post" />
                                            </a>
                                        </div>
                                        <!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="single-post.html">Ut venenatis, Commodo ligula</a>
                                            </h3>
                                            <!--./ entry-title -->
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
                                            </div>
                                            <!--./ entry-content -->
                                        </div>
                                    </article>
                                    <!--./ end post -->

                                    <article class="post">
                                        <div class="thumb-wrap">
                                            <a href="single-post.html">
                                                <img src="assets/images/widget/post/recent/2.png" alt="post" />
                                            </a>
                                        </div>
                                        <!--./ thumb-wrap -->
                                        <div class="content-entry-wrap">
                                            <h3 class="entry-title">
                                                <a href="single-post.html">Ut venenatis, Commodo ligula</a>
                                            </h3>
                                            <!--./ entry-title -->
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
                                            </div>
                                            <!--./ entry-content -->
                                        </div>
                                    </article>
                                    <!--./ end post -->
                                </div>
                            </aside>
                        </div>
                        <!--~./ end post list widget ~-->

                        <!--~~~~~ Start Subscribe Widget~~~~~-->
                        <div class="col-lg-4">
                            <aside class="widget tb-subscribe-widget">
                                <h4 class="widget-title">Subscribe Now</h4>
                                <div class="widget-content">
                                    <div class="subscribe-box">
                                        <div class="subscribe-form">
                                            <!-- Subscribe form -->
                                            <form class="dv-form" id="mc-form">
                                                <div class="form-group">
                                                    <input id="mc-email" name="EMAIL"
                                                        placeholder="Enter Your Email Address" type="email" />
                                                    <button class="btn btn-primary btn-gradient-45" name="Subscribe"
                                                        id="subscribe-btn" type="submit">
                                                        Subscribe Now
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="social-status">
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-dribbble"></i></a>
                                        <a href="#"><i class="icofont-behance"></i></a>
                                        <a href="#"><i class="icofont-pinterest"></i></a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <!--~./ end subscribe widget ~-->
                    </div>
                </div>
            </div>
            <!--~./ end footer widgets area ~-->

            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Footer Bottom Area
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-bottom-content text-center">
                                <a class="footer-logo-area" href="#">
                                    <img src="assets/images/logo/footer-logo.png" alt="Logo" />
                                </a>
                                <div class="copyright-text text-center">
                                    <p>© 2020 Albireo Designed by <a href="#">Envato</a></p>
                                </div>
                                <!--~./ end copyright text ~-->
                            </div>
                        </div>
                        <!--~./ col-12 ~-->
                    </div>
                </div>
            </div>
            <!--~./ end footer bottom area ~-->
        </footer>
        <!--~./ end site footer ~-->