        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Banner Section
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="hero-block" class="frontpage-banner-section frontpage-banner-style-three">
<!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle3.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/helf-circel1.png" alt="Element">
                </div>
            </div> -->
            <div class="container">
                <div class="row align-items-center">
                    <img src="assets/images/v1_blue_name.png" alt="">
                    <h2 style="color:#333;padding:3em;width:100%;text-align: center;">Alternate Formatting for the Inaugural Template Includes...</h2>
                    <img src="assets/images/v2_blue_extras.png" alt="">
                    <h2 style="color:#333;padding:3em;width:100%;text-align: center;">Coming in Three Unique Color Schemes, Spring 2021</h2>

                                                                    <div class="form-group" style="width:100%;text-align:center;">
<!--                                                     <input id="mc-email" name="EMAIL"
                                                        placeholder="Enter Your Email Address" type="email" /> -->
<!--                                                     <button class="btn btn-primary btn-gradient-45" name="Subscribe"
                                                        id="subscribe-btn" type="submit">
                                                        Subscribe Now
                                                    </button> -->
                                                                                                                    <a class="btn btn-primary btn-gradient-45" href="https://form.typeform.com/to/nnVNayJB?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Sign Up For Beta Access</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                                                </div>

                </div>
            </div>
        </div>
        <!--~./ end frontpage banner Section ~-->