
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Our Skill Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="about-block" class="our-skill-block pd-t-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="promo-video-area">
                            <div class="video-thumb bg-overlay-gradient">
                                <img src="assets/images/others/video-bg.jpg" alt="Video Thumb">
                            </div>
                            <div class="promo-video">
                                <a href="https://player.vimeo.com/video/4760972" class="video-btn video-popup">
                                    <span class="icofont-ui-play"></span>
                                </a>
                            </div><!-- /.promo-video -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end our skill block ~~-->