        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Start Team Block
			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="team-block" class="team-block style-two pd-b-100">
            <div class="container">
                <div class="row md-wrap-reverse">
                    <div class="col-lg-7">
                        <div class="team-items-list">
                            <div class="team-item style-two">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="assets/images/team/two/1.jpg" alt="Mary Adams" />
                                    </figure>
                                    <!-- /.team-thumb -->
                                    <div class="team-info text-center">
                                        <h3 class="team-name">
                                            <a href="single-team.html">Mary Adams</a>
                                        </h3>
                                        <p class="designation">Founder</p>
                                    </div>
                                    <!-- /.team-info -->
                                </div>
                            </div>
                            <!-- /.team-item -->
                            <div class="team-item style-two">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="assets/images/team/two/3.jpg" alt="Mary Adams" />
                                    </figure>
                                    <!-- /.team-thumb -->
                                    <div class="team-info text-center">
                                        <h3 class="team-name">
                                            <a href="single-team.html">Mary Adams</a>
                                        </h3>
                                        <p class="designation">Founder</p>
                                    </div>
                                    <!-- /.team-info -->
                                </div>
                            </div>
                            <!-- /.team-item -->
                            <div class="team-item style-two">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="assets/images/team/two/2.jpg" alt="Mary Adams" />
                                    </figure>
                                    <!-- /.team-thumb -->
                                    <div class="team-info text-center">
                                        <h3 class="team-name">
                                            <a href="single-team.html">Mary Adams</a>
                                        </h3>
                                        <p class="designation">Founder</p>
                                    </div>
                                    <!-- /.team-info -->
                                </div>
                                <!-- /.team-item -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-feature-block style-two md-mrb-60">
                            <h2 class="title">
                                They've already learned to the programming but you?
                            </h2>
                            <p>
                                We are a fully in-house digital agency focusing on branding,
                                marketing, web design and development with clients ranging
                                from start-ups.
                            </p>
                            <a class="btn btn-primary btn-gradient-45" href="#">Get Started</a>
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end team block ~~-->