        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					Start Team Block
			~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="team-block" class="team-block style-two pd-b-100">
            <div class="container">
                <div class="row md-wrap-reverse">
                    <div class="col-lg-7">
                        <div class="team-items-list">
                            <div class="team-item style-two">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="assets/images/team/two/1.jpg" alt="Mary Adams" />
                                    </figure>
                                    <!-- /.team-thumb -->
                                    <div class="team-info text-center">
                                        <h3 class="team-name">
                                            <a href="single-team.html">Feature PDFs</a>
                                        </h3>
                                        <!-- <p class="designation">Founder</p> -->
                                    </div>
                                    <!-- /.team-info -->
                                </div>
                            </div>
                            <!-- /.team-item -->
                            <div class="team-item style-two">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="assets/images/team/two/3.jpg" alt="Mary Adams" />
                                    </figure>
                                    <!-- /.team-thumb -->
                                    <div class="team-info text-center">
                                        <h3 class="team-name">
                                            <a href="single-team.html">Projects & Bio</a>
                                        </h3>
                                        <!-- <p class="designation">Founder</p> -->
                                    </div>
                                    <!-- /.team-info -->
                                </div>
                            </div>
                            <!-- /.team-item -->
                            <div class="team-item style-two">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="assets/images/team/two/2.jpg" alt="Mary Adams" />
                                    </figure>
                                    <!-- /.team-thumb -->
                                    <div class="team-info text-center">
                                        <h3 class="team-name">
                                            <a href="single-team.html">Skills & TImeline</a>
                                        </h3>
                                        <!-- <p class="designation">Founder</p> -->
                                    </div>
                                    <!-- /.team-info -->
                                </div>
                                <!-- /.team-item -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-feature-block style-two md-mrb-60">
                            <h2 class="title">
                                PDF Viewing, Bios, Timelines and More
                            </h2>
                            <p>
                                After quantifying thousands of personal websites, we've identified the key features you need to present yourself clearly and succinctly. <br><br>
                                Features like PDF viewing, skills tied to projects shown as pills below each description, and timelines to help readers understand your journey are just the tip of the iceberg.
                            </p>
                            <a class="btn btn-primary btn-gradient-45" href="#call-to-action">Get Started</a>
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end team block ~~-->