        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Site Header
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <header class="site-header header-style-five">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="navigation-area">
                            <!-- Site Branding -->
                            <div class="site-branding">
                                <a href="index.html">
                                    <img src="assets/images/logo/logo.png" alt="Site Logo" />
                                </a>
                            </div><!--  /.site-branding -->

                            <!-- Site Navigation -->
                            <div class="site-navigation">
                                <nav class="navigation">
                                    <!-- Main Menu -->
                                    <div class="menu-wrapper">
                                        <div class="menu-content">
                                            <ul class="mainmenu">
                                                <li>
                                                    <a class="nav-link active" href="#hero-block">Home</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#service-block">Services</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#portfolio-block">Portfolio</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#pricing-block">Pricing</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#testimonial-block">testimonial</a>
                                                </li>
                                                <li class="megamenu">
                                                    <a class="nav-link" href="#">Pages</a>
                                                    <ul class="sub-menu megamenu-main">
                                                        <li>
                                                            <div class="megamenu-wrapper">
                                                                <div class="container megamenu-container">
                                                                    <div class="row">
                                                                        <div class="col-lg-3 megamenu-column">
                                                                            <h3 class="megamenu-heading">Home</h3>
                                                                            <ul class="custom-megamenu">
                                                                                <li><a href="index.html">Home
                                                                                        Default</a></li>
                                                                                <li><a href="index02.html">Home Dark</a>
                                                                                </li>
                                                                                <li><a href="index03.html">Home
                                                                                        Creative</a></li>
                                                                                <li><a href="index04.html">Home
                                                                                        Corporate</a></li>
                                                                                <li><a href="index05.html">Home Creative
                                                                                        Dark</a></li>
                                                                                <li><a href="index06.html">Home
                                                                                        Portfolio</a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-lg-3 megamenu-column">
                                                                            <h3 class="megamenu-heading">Portfolio</h3>
                                                                            <ul class="custom-megamenu">
                                                                                <li><a href="portfolio01.html">Portfolio
                                                                                        One</a></li>
                                                                                <li><a href="portfolio02.html">Portfolio
                                                                                        Two</a></li>
                                                                                <li><a href="portfolio03.html">Portfolio
                                                                                        Three</a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-lg-3 megamenu-column">
                                                                            <h3 class="megamenu-heading">Main Pages</h3>
                                                                            <ul class="custom-megamenu">
                                                                                <li><a href="about.html">About Us</a>
                                                                                </li>
                                                                                <li><a href="services.html">Services</a>
                                                                                </li>
                                                                                <li><a href="contact.html">Contact
                                                                                        Us</a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-lg-3 megamenu-column">
                                                                            <h3 class="megamenu-heading">Blog Pages</h3>
                                                                            <ul class="custom-megamenu">
                                                                                <li><a href="blog.html">Blog Classic</a>
                                                                                </li>
                                                                                <li><a href="blog-grid.html">Blog
                                                                                        Grid</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul> <!-- /.menu-list -->
                                        </div> <!-- /.hours-content-->
                                    </div><!-- /.menu-wrapper -->
                                </nav>
                            </div><!--  /.site-navigation -->

                            <div class="header-navigation-right">
                                <div class="btn-sing-area">
                                    <a class="btn btn-primary btn-gradient-45" href="#">Sign up</a>
                                </div>
                                <div class="hamburger-menus">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <!--~./ header-navigation-right ~-->
                        </div><!-- /.navigation-area -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            <div class="mobile-sidebar-menu sidebar-menu">
                <div class="overlaybg"></div>
            </div>
        </header>
        <!--~~./ end site header ~~-->
        <!--~~~ Sticky Header ~~~-->
        <div id="sticky-header" class="active"></div>
        <!--~./ end sticky header ~-->
