
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start About Us Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div id="about-block" class="about-us-block style-one bg-white-smoke">
			<div class="waves-effect top" style="background-image: url('assets/images/shape/shape-top1.png');"></div>
			<div class="waves-effect bottom" style="background-image: url('assets/images/shape/shape-bottom2.png');">
			</div>
<!-- 			<div class="element-group">
				<div class="element one">
					<img src="assets/images/element/rectangle1.png" alt="Element">
				</div>
				<div class="element two">
					<img src="assets/images/element/circle3.png" alt="Element">
				</div>
			</div> -->
			<div class="container">
				<!-- Title Row -->
				<div class="row align-items-center md-wrap-reverse">
					<div class="col-lg-6">
						<div class="mock-up-thumb">
							<img src="assets/images/about/about1.png" alt="About Mock" />
						</div>
						<!-- /.mock-up-block -->
					</div>
					<!-- /.col-lg-5 -->
					<div class="col-lg-6">
						<div class="text-feature-block md-mrb-55">
							<h2 class="title">
								An Affordable Home For Your Academic And Professional Wins 
							</h2>
							<div class="sub-title">
								Foursite.me grows with your career. Since we are as cheap as a latte and as easy to build as a dating profile, your personal site is here to stay and update for all your wins.
							</div>
<!-- 							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
								volutpat imperdiet turpis, ut tincidunt ipsum. Ut dictum
								bibendum .
							</p> -->
							<a class="btn btn-default btn-green" href="#call-to-action">Get Started</a>
						</div>
					</div>
					<!-- /.col-lg-7 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!--~~./ end about us block ~~-->