
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Work brand Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="work-brand-block style-two">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h2 class="title-main">
                                Our Brands
                            </h2>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <div class="row">
                    <div class="col-12">
                        <!--~~ Start Brands Carousel ~~-->
                        <div class="swiper-container brands-carousel-three">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="brands-link">
                                        <img src="assets/images/brand/three/1.png" alt="logo" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brands-link">
                                        <img src="assets/images/brand/three/2.png" alt="logo" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brands-link">
                                        <img src="assets/images/brand/three/3.png" alt="logo" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brands-link">
                                        <img src="assets/images/brand/three/4.png" alt="logo" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brands-link">
                                        <img src="assets/images/brand/three/5.png" alt="logo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--~./ end brands carousel ~-->
                    </div>
                </div>
            </div>
        </div>
        <!--~./ end popular brands block ~-->