
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Pricing Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="pricing-block" class="pricing-block style-two pd-t-130">
            <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle6.png" alt="Element">
                </div>
            </div>
            <div class="container ml-b-30">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h4 class="sub-title color-green">Forget the industry standard of $12 to $15/mo or more... (overcharging a**holes)</h4>
                            <h2 class="title-main">
                                We're Going Nuclear. 
                                <br>Honest Pricing Built For You.
                            </h2>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <div class="filter-pricing-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#monthly_pricing" role="tab">monthly</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#yearly_pricing" role="tab">yearly</a>
                                </li>
                            </ul>
                        </div>
                        <!--~./ end filter pricing tab ~-->
                        <div class="tab-content filter-pricing-tab-content">
                            <!--~~~~~ Start Tab Pane ~~~~~-->
                            <div class="tab-pane fade active show" id="monthly_pricing" role="tabpanel">
                                <div class="row pricing-table-list">
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Starter Plan</h2>
                                                <p>
                                                    For early-stage young professionals looking for a single-page site.
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 3.99 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <!-- <a href="#" class="btn btn-default">Get Started</a> -->
                                                                            <a class="btn btn-default typeform-share button" href="https://form.typeform.com/to/nnVNayJB?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Get Started</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>1</span> Single-Page Site</li>
                                                    <li><span></span>Limited PDF Features</li>
                                                    <li><span></span>Timeline Section</li>
                                                    <li><span></span>Projects Section</li>
                                                    <li><span></span>Skills & Classes Section</li>
                                                    <li><span></span>Bios Section</li>
                                                    <li><span></span>Social Links & Contact Section</li>
                                                    <li class="del">Bring Your Custom Domain</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Pro Plan</h2>
                                                <p>For professionals who want a fully-fledged personal site.</p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 6.97 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                                                                                            <a class="btn btn-default typeform-share button" href="https://form.typeform.com/to/nnVNayJB?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Get Started</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span></span>Everything in the Starter Plan</li>
                                                    <li><span></span>Blog Section</li>
                                                    <li><span></span>Multi-Page Site (e.g. About Page)</li>
                                                    <li><span></span>Unlimited PDF Features</li>
                                                    <li><span></span>Bring Your Custom Domain</li>
                                                    <!-- <li class="del">Unlimited Subdomains</li> -->
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Enterprise Plan</h2>
                                                <p>
                                                    For career centers and organizations sponsoring multiple personal sites.
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup></sup> <sub></sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#mailto:connect.foresight.inc@gmail.com" class="btn btn-default">Contact Us</a>
                                            </div>
<!--                                             <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>50</span> Email Account</li>
                                                    <li><span>1Tb</span> Space</li>
                                                    <li><span>15</span> Domain Name</li>
                                                    <li><span>2Tb</span> Bandwidth</li>
                                                    <li><span>100</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div> -->
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                </div>
                                <!--~./ row ~-->
                            </div>
                            <!--~./ end tab pane ~-->


                            <!--~~~~~ Start Tab Pane ~~~~~-->
                            <div class="tab-pane fade" id="yearly_pricing" role="tabpanel">
                                <div class="row pricing-table-list">
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Starter Plan</h2>
                                                <p>
                                                    For early-stage young professionals looking for a single-page site.
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 3 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                                                                                            <a class="btn btn-default typeform-share button" href="https://form.typeform.com/to/nnVNayJB?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Get Started</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>1</span> Single-Page Site</li>
                                                    <li><span></span>Limited PDF Features</li>
                                                    <li><span></span>Timeline Section</li>
                                                    <li><span></span>Projects Section</li>
                                                    <li><span></span>Skills & Classes Section</li>
                                                    <li><span></span>Bios Section</li>
                                                    <li><span></span>Social Links & Contact Section</li>
                                                    <li class="del">Bring Your Custom Domain</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Pro Plan</h2>
                                                <p>For professionals who want a fully-fledged personal site.</p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 5 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                                                                                            <a class="btn btn-default typeform-share button" href="https://form.typeform.com/to/nnVNayJB?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Get Started</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span></span>Everything in the Starter Plan</li>
                                                    <li><span></span>Blog Section</li>
                                                    <li><span></span>Multi-Page Site (e.g. About Page)</li>
                                                    <li><span></span>Unlimited PDF Features</li>
                                                    <li><span></span>Bring Your Custom Domain</li>
                                                    <!-- <li class="del">Unlimited Subdomains</li> -->
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Enterprise Plan</h2>
                                                <p>
                                                    For career centers and organizations sponsoring multiple personal sites.
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup></sup> <sub></sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#mailto:connect.foresight.inc@gmail.com" class="btn btn-default">Contact Us</a>
                                            </div>
<!--                                             <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>50</span> Email Account</li>
                                                    <li><span>1Tb</span> Space</li>
                                                    <li><span>15</span> Domain Name</li>
                                                    <li><span>2Tb</span> Bandwidth</li>
                                                    <li><span>100</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div> -->
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                </div>
                                <!--~./ row ~-->
                            </div>
                            <!--~./ end tab pane ~-->
                        </div>
                    </div>
                </div>
            </div>
        </div>