
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Pricing Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="pricing-block" class="pricing-block style-two pd-t-130">
            <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/rectangle6.png" alt="Element">
                </div>
            </div>
            <div class="container ml-b-30">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h4 class="sub-title color-green">Pricing build for businesses for all sizes</h4>
                            <h2 class="title-main">
                                Make Teamwork More Productive
                            </h2>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <!-- /.col-lg-8 -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-12">
                        <div class="filter-pricing-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#monthly_pricing" role="tab">monthly</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#yearly_pricing" role="tab">yearly</a>
                                </li>
                            </ul>
                        </div>
                        <!--~./ end filter pricing tab ~-->
                        <div class="tab-content filter-pricing-tab-content">
                            <!--~~~~~ Start Tab Pane ~~~~~-->
                            <div class="tab-pane fade active show" id="monthly_pricing" role="tabpanel">
                                <div class="row pricing-table-list">
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Starter Plan</h2>
                                                <p>
                                                    For small teams trying out Slack for an unlimited period
                                                    of time
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 6.67 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#" class="btn btn-default">Get Started</a>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>15</span> Email Account</li>
                                                    <li><span>100Gb</span> 100Gb Space</li>
                                                    <li><span>1</span> Domain Name</li>
                                                    <li><span>500Gb</span> Bandwidth</li>
                                                    <li><span>25</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Business Plan</h2>
                                                <p>For small- and medium-sized businesses</p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 9.67 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#" class="btn btn-default">Get Started</a>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>25</span> Email Account</li>
                                                    <li><span>500Gb</span> Space</li>
                                                    <li><span>5</span> Domain Name</li>
                                                    <li><span>1Tb</span> Bandwidth</li>
                                                    <li><span>50</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Standard Plan</h2>
                                                <p>
                                                    For larger businesses or those with additional
                                                    administration needs
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 12.50 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#" class="btn btn-default">Get Started</a>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>50</span> Email Account</li>
                                                    <li><span>1Tb</span> Space</li>
                                                    <li><span>15</span> Domain Name</li>
                                                    <li><span>2Tb</span> Bandwidth</li>
                                                    <li><span>100</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                </div>
                                <!--~./ row ~-->
                            </div>
                            <!--~./ end tab pane ~-->


                            <!--~~~~~ Start Tab Pane ~~~~~-->
                            <div class="tab-pane fade" id="yearly_pricing" role="tabpanel">
                                <div class="row pricing-table-list">
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Starter Plan</h2>
                                                <p>
                                                    For small teams trying out Slack for an unlimited period
                                                    of time
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 6.67 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#" class="btn btn-default">Get Started</a>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>15</span> Email Account</li>
                                                    <li><span>100Gb</span> 100Gb Space</li>
                                                    <li><span>1</span> Domain Name</li>
                                                    <li><span>500Gb</span> Bandwidth</li>
                                                    <li><span>25</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Business Plan</h2>
                                                <p>For small- and medium-sized businesses</p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 9.67 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#" class="btn btn-default">Get Started</a>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>25</span> Email Account</li>
                                                    <li><span>500Gb</span> Space</li>
                                                    <li><span>5</span> Domain Name</li>
                                                    <li><span>1Tb</span> Bandwidth</li>
                                                    <li><span>50</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                    <div class="col-lg-4 col-md-6">
                                        <!--~~~~~ Start Pricing Box ~~~~~-->
                                        <div class="pricing-box">
                                            <div class="pricing-header">
                                                <h2 class="pricing-title">Standard Plan</h2>
                                                <p>
                                                    For larger businesses or those with additional
                                                    administration needs
                                                </p>
                                            </div>
                                            <!-- /.pricing-header -->
                                            <div class="package-price">
                                                <sup>$</sup> 12.50 <sub>/mo</sub>
                                            </div>
                                            <!-- /.pricing-price -->
                                            <div class="pricing-btn-area text-center">
                                                <a href="#" class="btn btn-default">Get Started</a>
                                            </div>
                                            <div class="pricing-content">
                                                <ul class="list">
                                                    <li><span>50</span> Email Account</li>
                                                    <li><span>1Tb</span> Space</li>
                                                    <li><span>15</span> Domain Name</li>
                                                    <li><span>2Tb</span> Bandwidth</li>
                                                    <li><span>100</span> MySQL Databases</li>
                                                    <li class="del">Unlimited Subdomains</li>
                                                </ul>
                                            </div>
                                            <!-- /.pricing-content -->
                                        </div>
                                        <!--~./ end pricing box ~-->
                                    </div>
                                    <!--~./ col-lg-4 ~-->
                                </div>
                                <!--~./ row ~-->
                            </div>
                            <!--~./ end tab pane ~-->
                        </div><!-- /.filter-pricing-tab-content -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end pricing block ~~-->