
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Our Skill Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="our-skill-block style-two pd-b-130">
<!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/circle5.png" alt="Element">
                </div>
            </div> -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="our-content-area">
                            <div class="section-title">
                                <h4 class="sub-title color-orange">Our Skills</h4>
                                <h2 class="title-main">What Our Design Skills Included</h2>
                                <div class="title-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                    volutpat imperdiet turpis, ut tincidunt ipsum. Ut dictum
                                    bibendum .
                                </div>
                            </div>
                            <!-- /.section-title -->
                            <div class="skill-list color-orange">
                                <div class="single-skill">
                                    <h3 class="skill-title">Photoshop</h3>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 80%">
                                            <span>80%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.single-skill -->
                                <div class="single-skill">
                                    <h3 class="skill-title">Figma</h3>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 60%">
                                            <span>60%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.single-skill -->
                                <div class="single-skill">
                                    <h3 class="skill-title">Sketch</h3>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%">
                                            <span>70%</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.single-skill -->
                            </div>
                            <!-- /.skill-list -->
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="skill-thumbnail-area ms-mrt-55">
                            <div class="single-thumb">
                                <img src="assets/images/others/skill-thumb2.jpg" alt="Thumbnail" />
                            </div>
                            <div class="single-thumb two">
                                <img src="assets/images/others/skill-thumb1.jpg" alt="Thumbnail" />
                            </div>
                        </div>
                        <!-- /.skill-thumbnail-area -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end our skill block ~~-->