        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Call To Action
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="call-to-action" class="call-to-action bg-image bg-overlay-gradient"
            style="background-image: url('assets/images/bg/action-bg.png');margin-top: 60px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center text-white">
                        <h2 class="call-to-title">Sign up for early access today.</h2><!-- /.call-to-title -->
                        <div class="action-btn-group">
                            <!-- <a href="#" class="btn btn-default btn-white">Sign up for early access for free</a> -->
                            <a class="btn btn-default btn-white typeform-share button" href="https://form.typeform.com/to/nnVNayJB?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank">Sign Up</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                        </div><!-- /.action-btn-group -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
        <!--~~./ end call to action ~~-->