
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Testimonial Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="testimonial-block" class="testimonial-block style-one ptb-130">
<!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/shape1.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/star2.png" alt="Element">
                </div>
            </div> -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-title text-center">
                            <!-- <h4 class="sub-title">Testimonials and reviews our customers</h4> -->
                            <h2 class="title-main">Get Ahead Of The Curve</h2>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Testimonial Slider -->
                        <div class="swiper-container testimonial-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="client-testimonial">
                                            <div class="details">
                                                <p>
                                                    As online information becomes more and more important, personal websites and social resumes will become expected. 
                                                    <br><br>
                                                    The bottom line is, it's a great idea to create an online presence now that you own and maintain yourself so you'll be ahead of the curve when everyone else is rushing to catch up with this trend.
                                                </p>
<!--                                                 <div class="rating">
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                </div> -->
                                            </div>
                                            <!-- /.details -->
                                            <div class="client-area">
                                                <div class="client-thumb">
                                                    <img src="assets/images/testimonail/1.png" alt="Daniel Watson" />
                                                </div>
                                                <!-- /.client-thumb -->
                                                <div class="client-info">
                                                    <h4 class="client-name">Jacquelyn Smith</h4>
                                                    <!-- /.client-name -->
                                                    <p class="client-designation">
                                                        Forbes
                                                    </p>
                                                </div>
                                                <!-- /.client-info -->
                                            </div>
                                            <!-- /.client-area -->
                                        </div>
                                        <!-- /.client-testimonial -->
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="client-testimonial">
                                            <div class="details">
                                                <p>
                                                    If you're trying to land a new job this year, a personal website could be your secret weapon.
                                                    <br><br>
                                                    It's one of the best ways to take a personal brand to the next level. Employers want to get to know candidates and not only make sure they take pride in their craft, but also want to see if it's a cultural fit.
                                                </p>
<!--                                                 <div class="rating">
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                </div> -->
                                            </div>
                                            <!-- /.details -->
                                            <div class="client-area">
                                                <div class="client-thumb">
                                                    <img src="assets/images/testimonail/2.png" alt="" />
                                                </div>
                                                <!-- /.client-thumb -->
                                                <div class="client-info">
                                                    <h4 class="client-name">Nick Macario</h4>
                                                    <!-- /.client-name -->
                                                    <p class="client-designation color-orange">
                                                        Business Insider
                                                    </p>
                                                </div>
                                                <!-- /.client-info -->
                                            </div>
                                            <!-- /.client-area -->
                                        </div>
                                        <!-- /.client-testimonial -->
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="client-testimonial">
                                            <div class="details">
                                                <p>
                                                    To compete for your dream job, you have to not only meet the desired qualifications but also distinctly stand out from other applicants. A personal website, or portfolio website, can be a game changing tool to add dimension and "proof of expertise" for certain professions.
                                                </p>
<!--                                                 <div class="rating">
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                </div> -->
                                            </div>
                                            <!-- /.details -->
                                            <div class="client-area">
                                                <div class="client-thumb">
                                                    <img src="assets/images/testimonail/3.png" alt="Daniel Watson" />
                                                </div>
                                                <!-- /.client-thumb -->
                                                <div class="client-info">
                                                    <h4 class="client-name">Robin Reshwan</h4>
                                                    <!-- /.client-name -->
                                                    <p class="client-designation color-purple">
                                                        US News
                                                    </p>
                                                </div>
                                                <!-- /.client-info -->
                                            </div>
                                            <!-- /.client-area -->
                                        </div>
                                        <!-- /.client-testimonial -->
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <!-- <div class="swiper-pagination"></div> -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end testimonial block ~~-->