
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Testimonial Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="testimonial-block" class="testimonial-block style-one ptb-130">
<!--             <div class="element-group">
                <div class="element one">
                    <img src="assets/images/element/shape1.png" alt="Element">
                </div>
                <div class="element two">
                    <img src="assets/images/element/star2.png" alt="Element">
                </div>
            </div> -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-title text-center">
                            <h4 class="sub-title">Testimonials and reviews our customers</h4>
                            <h2 class="title-main">What Our Customers Are Saying</h2>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Testimonial Slider -->
                        <div class="swiper-container testimonial-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="client-testimonial">
                                            <div class="details">
                                                <p>
                                                    Quisque tempus volutpat laoreet. Vivamus facilisis
                                                    vehicula lobortis. Fusce eu libero dignissim, sagittis
                                                    lorem non, molestie enim. Duis urna purus, efficitur
                                                    viverra pulvinar id, vulputate id quam.
                                                </p>
                                                <div class="rating">
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                </div>
                                            </div>
                                            <!-- /.details -->
                                            <div class="client-area">
                                                <div class="client-thumb">
                                                    <img src="assets/images/testimonail/1.png" alt="Daniel Watson" />
                                                </div>
                                                <!-- /.client-thumb -->
                                                <div class="client-info">
                                                    <h4 class="client-name">Daniel Watson</h4>
                                                    <!-- /.client-name -->
                                                    <p class="client-designation">
                                                        Creative Designer
                                                    </p>
                                                </div>
                                                <!-- /.client-info -->
                                            </div>
                                            <!-- /.client-area -->
                                        </div>
                                        <!-- /.client-testimonial -->
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="client-testimonial">
                                            <div class="details">
                                                <p>
                                                    Quisque tempus volutpat laoreet. Vivamus facilisis
                                                    vehicula lobortis. Fusce eu libero dignissim, sagittis
                                                    lorem non, molestie enim. Duis urna purus, efficitur
                                                    viverra pulvinar id, vulputate id quam.
                                                </p>
                                                <div class="rating">
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                </div>
                                            </div>
                                            <!-- /.details -->
                                            <div class="client-area">
                                                <div class="client-thumb">
                                                    <img src="assets/images/testimonail/2.png" alt="Daniel Watson" />
                                                </div>
                                                <!-- /.client-thumb -->
                                                <div class="client-info">
                                                    <h4 class="client-name">Alison Grays</h4>
                                                    <!-- /.client-name -->
                                                    <p class="client-designation color-orange">
                                                        Marketing Manager
                                                    </p>
                                                </div>
                                                <!-- /.client-info -->
                                            </div>
                                            <!-- /.client-area -->
                                        </div>
                                        <!-- /.client-testimonial -->
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="client-testimonial">
                                            <div class="details">
                                                <p>
                                                    Quisque tempus volutpat laoreet. Vivamus facilisis
                                                    vehicula lobortis. Fusce eu libero dignissim, sagittis
                                                    lorem non, molestie enim. Duis urna purus, efficitur
                                                    viverra pulvinar id, vulputate id quam.
                                                </p>
                                                <div class="rating">
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                    <a href="#"><i class="icofont-star"></i></a>
                                                </div>
                                            </div>
                                            <!-- /.details -->
                                            <div class="client-area">
                                                <div class="client-thumb">
                                                    <img src="assets/images/testimonail/3.png" alt="Daniel Watson" />
                                                </div>
                                                <!-- /.client-thumb -->
                                                <div class="client-info">
                                                    <h4 class="client-name">Olivia Berlin</h4>
                                                    <!-- /.client-name -->
                                                    <p class="client-designation color-purple">
                                                        Photographar
                                                    </p>
                                                </div>
                                                <!-- /.client-info -->
                                            </div>
                                            <!-- /.client-area -->
                                        </div>
                                        <!-- /.client-testimonial -->
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end testimonial block ~~-->