
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                Start Our Skill Block
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div id="about-block" class="our-skill-block pd-b-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="promo-video-area">
                            <div class="video-thumb bg-overlay-gradient">
                                <img src="assets/images/others/video-bg.jpg" alt="Video Thumb">
                            </div>
                            <div class="promo-video">
                                <a href="https://player.vimeo.com/video/4760972" class="video-btn video-popup">
                                    <span class="icofont-ui-play"></span>
                                </a>
                            </div><!-- /.promo-video -->
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-7">
                        <div class="text-feature-block style-three ms-mrb-50">
                            <h2 class="title">
                                Never doubt that a <span>small group</span> of thoughtful, committed people can change
                                the world
                            </h2>
                            <div class="text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat imperdiet
                                    turpis,
                                    ut tincidunt ipsum. Ut dictum bibendum .
                                </p>
                            </div>
                            <a class="btn btn-default btn-smoke" href="#">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="skill-list">
                            <div class="single-skill">
                                <h3 class="skill-title">Photoshop</h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 80%">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.single-skill -->
                            <div class="single-skill">
                                <h3 class="skill-title">Figma</h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 60%">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.single-skill -->
                            <div class="single-skill">
                                <h3 class="skill-title">Sketch</h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.single-skill -->
                        </div>
                        <!-- /.skill-list -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!--~~./ end our skill block ~~-->